html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 50%;
    width: 100%;
    color: #fff;
    font-size: 20px;
    position: relative;
    background-image: url('../assets/bg-header.jpg');
    background-size: cover;
    background-position: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 70%;
    top: 0;
    left: 25%;
    padding: 20px;
}


.social-media-wrapper{
    background-color: #2b2b2b;
    width: 20%;
    height: 60%;
    padding: 20px;
}

.website-wrapper{
    font-size: 50px;
    text-align: center;
    padding-bottom: 30px;
}

.vertical-line-wrapper{
    border-bottom: 1px solid #fff;
    width: 30px;
    transform: rotate(90deg);
}

.insta-wrapper{
    padding-top: 15%;
    padding-left: 3%;
}

.fb-wrapper{
    padding-top: 10%;
    padding-left: 3%;
}

.title-wrapper{
    position: absolute;
    bottom: 30%;
    right: 7%;
    margin: 0; 
    font-size: 70px;
}

.main{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    height: 1200px;
}

.image-wrapper{
    width: 33.3333%;
    height: 50%;
    position: relative;
}

.image-wrapper .overlay,
.image-wrapper .image-content-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.image-wrapper .overlay {
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}

.image-wrapper .image-content-wrapper {
    z-index: 1;
}

.image-wrapper .title-picture-wrapper, .image-wrapper .description-picture-wrapper{
    z-index: 3;
}

/* imaginile nu sunt scalabile asa, te sfatuiesc sa folosesti un wrapper */
.image-wrapper div img{
    width: 100%;
    height: 100%;  
} 

.title-picture-wrapper{
    position: absolute;
    top: 30px;
    left: 30px;
    color: #fff;
    width: 150px;
}

.description-picture-wrapper{
    position: absolute;
    bottom: 10%;
    color: #fff;
    transform: rotate(-90deg);
}

footer{
    background-color: #2b2b2b;
    height: auto;
    width: 100%;
}

.more-proj-wrapper{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 45%;
}

.more-proj-wrapper button{
    background-color: #3d3d3d;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    border: none;
    width: 150px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}

.get-in-touch-wrapper{
    color: #fff;
    padding-left: 35%;
    font-size: 50px;
    letter-spacing: 15px;
}

.orange-text-wrapper{
    color: #c09c78;
}

.get-in-touch-wrapper, .orange-text-wrapper{
    display: inline;
}

.form-wrapper{
    padding: 20px;
    padding-left: 30%;
}

form{
    width: min-content;
 }

.name-wrapper, .phone-wrapper{
    display: inline;
}

.email-wrapper, .company-wrapper{
    display: inline;
}

.first-row-form-wrapper, .desktop-text-area-wrapper{
    display: inline;
    vertical-align: top;
}

.form-content-wrapper{
    display: inline-flex;
}

input{
    height: 40px;
    background-color: #3d3d3d;  
    margin-top:30px;
    margin-left: 30px;
}

input::placeholder{
    color: #fff;
    padding-left: 10px;
    font-family: sans-serif;
}

.desktop-text-area-wrapper{
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-left: 30px;
}

textarea{
    background-color: #3d3d3d;
    color: #fff;
    font-family: sans-serif;
    font-size: 15px;
    resize: none;
    padding: 10px;
}

textarea::placeholder{
    color: #fff;
}

.submit-wrapper{
    padding-left: 40%;
    height: 50px;
    width: 150px;
}

.submit-button{
    background-color: #c09c78;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
} 

.menu-mobile {
    display: none;
    color:#3d3d3d;
    justify-content: center;
    text-align: end;
    padding-right: 0;
}

.mobile-text-area-wrapper{
    display: none;
    padding-top: 30px;
    padding-left: 30px;
}

@media (max-width: 600px) {
    
    .menu-mobile {
        display: block;
    }

    .menu-desktop {
        display: none;
    }

    header{
        height: 30%;
    }

    .social-media-wrapper{
        width: 25%;
        height: 50%;
    }

    .website-wrapper{
        font-size: 20px;
    }
    
    .vertical-line-wrapper{
        width: 20px;
    }

    .insta-wrapper{
        font-size: 15px;
    }
    
    .fb-wrapper{
        font-size: 15px;
        padding-top: 5%;
    }

    .title-wrapper{
        position: absolute;
        bottom: 5px;
        right: 20%;
        margin: 0; 
        font-size: 60px;
    }

    .main{
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
    }

    .image-wrapper{
        width: auto;
        height: 400px;
    }
    
    .title-picture-wrapper{
        padding-top: 20%;
        width: 90%;
        text-align: center;
        font-size: 25px;
    }

    .title-picture-wrapper div{
        color:#c09c78;
        font-weight: bold;
    }

    .title-picture-wrapper, .title-picture-wrapper div{
        display: inline;
    }

    .description-picture-wrapper{
        width: 90%;
        text-align: center;
        transform: none;
        padding-bottom: 35%;
        padding-left: 5%;
        letter-spacing: 15px;
    }

    .more-proj-wrapper{
        display: none;
    }

    .get-in-touch-wrapper{
        padding-left: 20%;
        font-size: 20px;
        text-align: center;
    }

    .form-wrapper{
        padding-left: 0;
        padding-right: 10px;
        width: 90%;
    }

    .form-content-wrapper{
        display: flex;
        flex-direction: column; 
        width: 92%;
    }

    input{
        width: 100%;
        border: none;
    }

    .mobile-text-area-wrapper{
        display: block;
    }

    .desktop-text-area-wrapper{
        display: none;

    }

    textarea{
        position: static;
        border: none;
    }

    .submit-wrapper{
        padding-top: 20px;
        padding-left: 80%;
        height: 30px;
        width: 100px;
    }

    .submit-button{
        font-size: 10px;
    }
}